* {
  overflow: hidden;
}

html, body {
    text-align: center;
    font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  }

html,body,li,form,ul {
  padding: 0;
  margin: 0;
}

form {
  padding-bottom: 2%;
}

li {
  list-style: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  font-size: 20px;
  text-align: left;
  padding: 5px;
  margin: 5px;
  background: #eee;
  width: 300px;
}

#current-room {
  font-size: 40px;
  margin-top: 20px;
}

#svg-under {
  width: 1000px;
  height: 600px;
  border: 5px solid black;
  background-color: gainsboro;
  border-radius: 30px;
  position: fixed;
  z-index: -1;
}

iframe{
  margin-top: 10px;
  border-color: white;
  border-radius: 30px;
  border-style: solid;

}

#svg {
    background-color: transparent;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    border-radius: 30px;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.chat-container {
  border: 5px solid black;
  background-color: white;
  width: 400px;
  height: 600px;
  border-radius: 30px;
}

.start {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-contents {
  width: 600;
  height: 300;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  border-width: 10px;
  border-style: solid;
  border-radius: 50px;
}

.canvas-overlay {
  width: 1000;
  height: 600;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: 5px solid black;
  border-radius: 30px;
  background-color: transparent;
}

.video {
  background-color: white;
  border-radius: 30px;
  border-style: solid;
  border-width: 5px;
  padding: 10px;
  margin: 10px;
}

.video-button {
  font-size: 30px;
  border-style: solid;
  border-width: 5px;
  background-color: red;
  margin: 10px;
}

.messages {
  overflow-y: auto;
  height: 500px;
}

.video-show {
  flex-direction: column;
  padding: 10;
  display: none;
  background-color: white;
}



.input-container input {
  cursor: pointer;
  height: 20px;
  width: 20px;
  margin: 13px 10px; 
}

.checkmark {
  transform: translate(-45px, 0);
  z-index: 2;
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: #eee;
  margin: 10px;
  border-style: solid;
  border-radius: 10px;
  border-width: 3px;
}

input {
  font-size: 20px;
  border-width: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
}

button, input[type=submit] {
  background-color: dodgerblue;
  font-size: 20px;
  border-width: 5px;
  padding: 5px 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: black;
  transition: background-color 0.4s ease-in-out;
}

button:hover{
  background-color: orange;
}

.input-container input:checked ~ .checkmark {
  border-color: orange;
}

#crimson {
  background-color: crimson;  
}

#red {
  background-color: red;  
}

#lightsalmon {
  background-color: lightsalmon;
}

#orangered {
  background-color: orangered;
}

#coral {
  background-color: coral;
}

#orange {
  background-color: orange;
}

#khaki {
  background-color: khaki;
}

#darkkhaki {
  background-color: darkkhaki;
}

#yellow {
  background-color: yellow;  
}

#lemonchiffon {
  background-color: lemonchiffon;
}

#greenyellow {
  background-color: greenyellow;
}

#lawngreen {
  background-color: lawngreen;
}

#green {
  background-color: green;  
}

#darkgreen {
  background-color: darkgreen;
}

#cyan {
  background-color: cyan;
}

#dodgerblue {
  background-color: dodgerblue;
}

#blue {
  background-color: blue;  
}

#darkblue {
  background-color: darkblue;  
}

#mediumslateblue {
  background-color: mediumslateblue;  
}

#pink {
  background-color: pink;  
}

#hotpink {
  background-color: hotpink;  
}

#magenta {
  background-color: magenta;  
}

#indigo {
  background-color: indigo;  
}

#white {
  background-color: white;  
}

#black {
  background-color: black;  
}

#gray {
  background-color: gray;  
}