* {
  overflow: hidden;
}

html, body {
    text-align: center;
    font-family: 'Avenir Next', 'Helvetica', 'Arial', sans-serif;
  }

  html,body,li,form,ul {
    padding: 0;
    margin: 0;
  }

  form {
    padding-bottom: 2%;
  }

  li {
    list-style: none;
    width: 100%;
  }

  li:nth-child(odd) {
    background: #eee;
  }

#svg-under {
    width: 1000px;
    height: 600px;
    border: 5px solid black;
    background-color: gray;
    position: fixed;
    z-index: -1;
}


#svg {
    background-color: transparent;
    width: 1000px;
    height: 600px;
    border: 5px solid black;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.chat-container {
  border: 3px solid black;
  width: 250px;
}

.start {
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-contents {
  width: 600;
  height: 200;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.video-show {
  display: none;
  flex-direction: column;
  padding: 10;
}

.canvas-overlay {
  width: 1000;
  height: 600;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  border: 5px solid black;
}

.video-button {
  font-size: 30px;
  border-style: none;
  background-color: transparent;
}

.messages {
  overflow-y: auto;
  height: 500px;
}